body {
  color: #fff;
  background: radial-gradient(circle at top left, #111, #121212);
}
.text-dancing {
  font-family: "Dancing Script", cursive;
}
.bg-grey {
  background-color: #191919;
  border: 1px solid #222;
}
.bg-nav {
  background: radial-gradient(circle at center, #764af1, #6f38c5);
  box-shadow: 0 0 10px 0.2px #444 !important;
}
.bg-header {
  background: radial-gradient(circle at top left, #111, #121212);
}
.fs-8 {
  font-size: 12px;
}
.fs-7,
.nav-link,
p {
  font-size: 14px;
}

.text-dm,
.nav-link,
p {
  font-family: "DM Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.text-poppins {
  font-family: "Poppins", sans-serif;
}
.nav-link {
  margin: 0 10px;
  color: #fff;
}
.bg-space {
  background: radial-gradient(circle at center, #764af1, #6f38c5);
  box-shadow: 0 0 30px 0.5px #444 !important;
}

button,
input,
textarea {
  box-shadow: none !important;
}
textarea::placeholder {
  line-height: 2.75em;
  vertical-align: middle;
}
.form-control:focus {
  background-color: #191919;
}
.rounded {
  border-radius: 15px !important;
}
.rounded-3 {
  border-radius: 10px !important;
}
.rounded-4 {
  border-radius: 20px;
}
a {
  text-decoration: none;
}

.btn-shrink:active {
  transform: scale(0.97);
  transition: transform 100ms ease-in-out;
}
.btn-shrink {
  transition: transform 100ms ease-in-out;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #191919;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #ecf2ff;
  border: none;
  border-radius: 10px;
}
